.banner-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50%;
    z-index:0;
    background-image:	url(Orgrimmar.png);
    animation: slider-sm ease-in-out 30s infinite;
    animation-delay: 0.15s;
    perspective: 1000;
    backface-visibility: hidden;
   }
       
    @media (min-width: 32em) {
     .banner-bg{background-image: url(Orgrimmar.png);
     animation: slider-lg ease-in-out 30s infinite;
     animation-delay: 0.15s;
     perspective: 1000;
     backface-visibility: hidden;
    }}
   

@keyframes slider-sm {
  0%,100%{
    background-image: url(Orgrimmar.png), url(Stormwind.png);
  }
  10%{
    background-image: url(Stormwind.png), url(Undercity.png);
  }
  20%{
    background-image: url(Undercity.png), url(RedridgeMountains.png);
  }
  30%{
   background-image: url(RedridgeMountains.png), url(BurningSteppes.png);
  }
  40%{
    background-image: url(BurningSteppes.png), url(SearingGorge.png);
  }
  50%{
    background-image: url(SearingGorge.png), url(TheBarrens.png);
  }
  60%{
   background-image: url(TheBarrens.png), url(Tanaris.png);
  }
  70%{
    background-image: url(Tanaris.png), url(SilverpineForest.png);
  }
  80%{
    background-image: url(SilverpineForest.png),url(BlastedLands.png);
  }
  90%{
   background-image: url(BlastedLands.png),url(Orgrimmar.png);
  }
}

/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@keyframes slider-lg {
 0%,100%{
   background-image: url(Orgrimmar.png), url(Stormwind.png);
 }
 10%{
   background-image: url(Stormwind.png), url(Undercity.png);
 }
 20%{
   background-image: url(Undercity.png), url(RedridgeMountains.png);
 }
 30%{
  background-image: url(RedridgeMountains.png), url(BurningSteppes.png);
 }
 40%{
   background-image: url(BurningSteppes.png), url(SearingGorge.png);
 }
 50%{
   background-image: url(SearingGorge.png), url(TheBarrens.png);
 }
 60%{
  background-image: url(TheBarrens.png), url(Tanaris.png);
 }
 70%{
   background-image: url(Tanaris.png), url(SilverpineForest.png);
 }
 80%{
   background-image: url(SilverpineForest.png),url(BlastedLands.png);
 }
 90%{
  background-image: url(BlastedLands.png),url(Orgrimmar.png);
 }
}